<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>Ch08</display-name>
<welcome-file-list>
<wlecome-file>index.html</wlecome-file>
<wlecome-file>index.htm</wlecome-file>
<wlecome-file>index.jsp]</wlecome-file>
<wlecome-file>default.html</wlecome-file>
<wlecome-file>default.htm</wlecome-file>
<wlecome-file>default.jsp</wlecome-file>
</welcome-file-list>

<context-param>
<param-name>menu_member</param-name>
<param-name>회원등록 회원조회 회원수정</param-name>
</context-param>

<context-param>
<param-name>menu_order</param-name>
<param-name>주문조회 주문등록 주문수정 주문취소</param-name>
</context-param>

<context-param>
<param-name>menu_goods</param-name>
<param-name>상품조회 상품등록 상품수정 상품삭제</param-name>
</context-param>

</web-app>